body{
  background-color: black;
}
h1{
  background-color: red;
  background-image: linear-gradient(90deg, rgba(255,88,48,1) 0%, rgba(255,156,0,1) 16%, rgba(255,240,42,1) 32%, rgba(211,235,79,1) 50%, rgba(0,212,255,1) 66%, rgba(0,67,255,1) 82%, rgba(116,12,231,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 

}

.contenedor{
  display: flex;
  margin: 30px auto;
  justify-content: center;
}

.titulo{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: white;
}

.nota{
  background-color: white;
  margin: 5px;
  border-radius: 5px;
  height: 400px;
  width: 100px;
  position: relative;
}

.negra{
  background-color: black;
  height: 250px;
  width: 50px;
  border-radius: 10px;
  position: absolute;
  right: -30px;
  z-index: 9;
}

.estaSonando{
  transition: 0.5s;
  background-color: thistle;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: white;
}